#learnwithus {
    background-color: white;
    padding: 70px;
}
#learnwithus div h4{
      text-align: center;
      font-size: 50px;
}
#learnwithus div .learnwhy {
        display: flex;  
        margin: 75px;
        align-items: center;

}
#learnwithus div .learnwhy .leftwhy {
       /* border: 2px solid black; */
       background-color: blanchedalmond;
       box-shadow: 11px 13px 20px 2px #76736e;
       display: flex;
       /* height: 680px; */
       flex-direction: column;
}
.leftwhy p{
    margin: 45px 25px;
}
.leftwhy ul{
     padding: 20px;
     margin: 0px;
}
.leftwhy ul li{
    padding: 25px;
}
#learnwithus div .learnwhy .rightwhy {
      /* width: 70%; */
}
#learnwithus div .learnwhy .rightwhy img{
    width: 670px;
    padding: 0px 37px;
    height: 800px;
}